.home {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home h1 {
    text-align: center;
  }
  
  .home h2 {
    margin-top: 20px;
  }
  
  .auctionList {
    margin-top: 20px;
  }
  
  .auction {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
  }
  
  .auction:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .auction h3 {
    margin: 0;
    font-size: 1.25rem;
    color:#ccc;
  }
  
  .auction p {
    margin: 5px 0;
  }
  
  .error {
    color: red;
    text-align: center;
  }